name: proposal-management-system-group

services:

  kong-database:
    image: postgres:13
    container_name: kong-database
    environment:
      POSTGRES_USER: kong
      POSTGRES_DB: kong
      POSTGRES_PASSWORD: kongpass
    networks:
      - project_net

  kong-gateway:
    command: /bin/sh -c "kong migrations bootstrap && kong start"
    image: kong/kong-gateway:3.12.0.1
    container_name: kong-gateway
    depends_on:
      - kong-database
    environment:
      KONG_DATABASE: postgres
      KONG_PG_HOST: kong-database
      KONG_PG_USER: kong
      KONG_PG_PASSWORD: kongpass
      KONG_PROXY_ACCESS_LOG: /dev/stdout
      KONG_ADMIN_ACCESS_LOG: /dev/stdout
      KONG_PROXY_ERROR_LOG: /dev/stderr
      KONG_ADMIN_ERROR_LOG: /dev/stderr
      KONG_ADMIN_LISTEN: 0.0.0.0:8001
      KONG_ADMIN_GUI_URL: http://localhost:8002
    ports:
      - "8000:8000"
      - "8443:8443"
      - "8001:8001"
      - "8444:8444"
      - "8002:8002"
      - "8445:8445"
      - "8003:8003"
      - "8004:8004"
    networks:
      - project_net

  kong-deck:
    depends_on:
      - kong-gateway
    image: kong/deck
    volumes:
      - ./configs:/deck
    stdin_open: true
    command: --kong-addr http://kong-gateway:8001 --headers kong-admin-token:KONG_ADMIN_TOKEN gateway sync /deck/
    networks:
      - project_net

networks:
  project_net:
    external: true