name: proposal-user-agent-api Build

on:
  pull_request:
    branches: [master]
    paths:
      - "proposal-user-agent-api/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:

  integration-tests:
    name: Run Unit & Integration Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: proposal-user-agent-api
    strategy:
      matrix:
        distribution: [ 'temurin' ]
        java: [ '23' ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          cache: 'maven'
      - name: Build and analyze
        run: ./mvnw clean verify